@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        
        </div>
    </section>
}
<h3>About Contact Directory</h3>

    
      <p>     You can use this contact directory that list all the employees in an organization,also you
        can generate business cards
       </p>

  

 